package ${package}.service.impl;

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import ${package}.convert.${ClassName}Convert;
import ${package}.entity.${ClassName};
import ${package}.mapper.I${ClassName}Mapper;
import ${package}.service.I${ClassName}Service;
import ${package}.sdk.dto.${ClassName}DTO;
import ${package}.sdk.query.${ClassName}Query;
import ${package}.sdk.vo.${ClassName}VO;
import com.github.itdachen.framework.core.response.TableData;
import com.github.itdachen.framework.webmvc.entity.EntityUtils;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;

/**
 * ${functionName} serverImpl
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl implements I${ClassName}Service {
    private static final Logger logger = LoggerFactory.getLogger(${ClassName}ServiceImpl.class);

    private final I${ClassName}Mapper ${className}Mapper;

    public ${ClassName}ServiceImpl(I${ClassName}Mapper ${className}Mapper) {
        this.${className}Mapper = ${className}Mapper;
    }

    /***
     * 分页
     *
     * @author ${author}
     * @date ${datetime}
     * @param params 查询参数
     * @return com.github.itdachen.framework.core.response.TableData<${package}.sdk.vo.${ClassName}Vo>
     */
    @Override
    public TableData< ${ClassName}VO > find${ClassName}Page(${ClassName}Query params) throws Exception {
        Page< ${ClassName}VO > page = PageHelper.startPage(params.getPage(), params.getLimit());
        List< ${ClassName}VO > list = ${className}Mapper.find${ClassName}Page(params);
        return new TableData< ${ClassName}VO >(page.getTotal(), list);
    }

    /***
     * 新增
     *
     * @author ${author}
     * @date ${datetime}
     * @param ${className}DTO 新增数据
     * @return ${package}.sdk.vo.${className}VO
     */
    @Override
    @Transactional(rollbackFor = Exception.class)
    public ${ClassName}VO save${ClassName}(${ClassName}DTO ${className}DTO) throws Exception {
        ${ClassName} ${className} = ${ClassName}Convert.toJavaObject(${className}DTO);
        EntityUtils.setCreatAndUpdateInfo(${className});
        ${className}Mapper.save${ClassName}(${className});
        return ${ClassName}Convert.toJavaObjectVo(${className});
    }

    /***
     * 根据id查询
     *
     * @author ${author}
     * @date ${datetime}
     * @param id 需要查询数据的id
     * @return ${package}.sdk.vo.${ClassName}VO
     */
    @Override
    public ${ClassName}VO get${ClassName}ById(${primaryKey} id) throws Exception {
        return ${className}Mapper.getById(id);
    }

    /***
     * 修改
     *
     * @author ${author}
     * @date ${datetime}
     * @param ${className}DTO 更新数据
     * @return ${package}.sdk.vo.${className}VO
     */
    @Override
    @Transactional(rollbackFor = Exception.class)
    public ${ClassName}VO update${ClassName}(${ClassName}DTO ${className}DTO) throws Exception {
        ${ClassName} ${className} = ${ClassName}Convert.toJavaObject(${className}DTO);
        EntityUtils.setUpdatedInfo(${className});
        ${className}Mapper.update${ClassName}(${className});
        return ${ClassName}Convert.toJavaObjectVo(${className});
    }

    /***
     * 删除
     *
     * @author ${author}
     * @date ${datetime}
     * @param id 需要删除数据的id
     * @return int 影响行数
     */
    @Override
    @Transactional(rollbackFor = Exception.class)
    public int remove${ClassName}(${primaryKey} id) throws Exception {
           return ${className}Mapper.delete${ClassName}ById(id);
    }

}
