package ${package}.service;

import ${package}.sdk.dto.${ClassName}DTO;
import ${package}.sdk.query.${ClassName}Query;
import ${package}.sdk.vo.${ClassName}VO;
import com.github.itdachen.framework.core.response.TableData;

/**
 * ${functionName} service
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {

    /***
     * 分页
     *
     * @author ${author}
     * @date ${datetime}
     * @param params 查询参数
     * @return com.github.itdachen.framework.core.response.TableData<${package}.sdk.vo.${ClassName}Vo>
     */
    TableData< ${ClassName}VO > find${ClassName}Page(${ClassName}Query params) throws Exception;

    /***
     * 新增
     *
     * @author ${author}
     * @date ${datetime}
     * @param ${className}DTO 新增数据
     * @return ${package}.sdk.vo.${className}VO
     */
     ${ClassName}VO save${ClassName}(${ClassName}DTO ${className}DTO) throws Exception;

    /***
     * 根据id查询
     *
     * @author ${author}
     * @date ${datetime}
     * @param id 需要查询数据的id
     * @return ${package}.sdk.vo.${ClassName}VO
     */
        ${ClassName}VO get${ClassName}ById(${primaryKey} id) throws Exception;

    /***
     * 修改
     *
     * @author ${author}
     * @date ${datetime}
     * @param ${className}DTO 修改数据
     * @return ${package}.sdk.vo.${className}Vo
     */
        ${ClassName}VO update${ClassName}(${ClassName}DTO ${className}DTO) throws Exception;

    /***
     * 根据id删除
     *
     * @author ${author}
     * @date ${datetime}
     * @param id 需要删除数据的id
     * @return int 影响行数
     */
    int remove${ClassName}(${primaryKey} id) throws Exception;

}
