/**
 * 将下面路由组件部分复制到 /src/router/index.ts 中
 */
const routes: Array<RouteRecordRaw> = [

    {
        path: '/${menuUrl}',
        component: () => import('@/views/${menuUrl}/index.vue'),
        name: '${ClassName}Component',
        meta: {
            title: '${functionName}'
        }
    },

]