package ${package}.convert;

import ${package}.entity.${ClassName};
import ${package}.sdk.dto.${ClassName}Dto;
import ${package}.sdk.vo.${ClassName}Vo;

/**
 * ${functionName} 类型转换
 *
 * @author ${author}
 * @date ${datetime}
 */
public class ${ClassName}Convert {

    public static ${ClassName}Vo to${ClassName}Vo (${ClassName}Dto ${className}Dto) {
       ${ClassName}Vo ${className}Vo = new ${ClassName}Vo();
        if (null == ${className}Dto){
            return ${className}Vo;
        }
        #foreach ($column in $dtoVoColumns)
            #if(!$table.isSuperColumn($column.javaField))
                #if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
                    #set($AttrName=$column.javaField)
                #else
                    #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
                #end
                    ${className}Vo.set${AttrName}(${className}Dto.get${AttrName}());
            #end
        #end
        return ${className}Vo;
    }


    public static ${ClassName}Vo to${ClassName}Vo (${ClassName} ${className}) {
        ${ClassName}Vo ${className}Vo = new ${ClassName}Vo();
        if (null == ${className}){
            return ${className}Vo;
        }
        #foreach ($column in $dtoVoColumns)
            #if(!$table.isSuperColumn($column.javaField))
                #if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
                    #set($AttrName=$column.javaField)
                #else
                    #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
                #end
                    ${className}Vo.set${AttrName}(${className}.get${AttrName}());
            #end
        #end
        return ${className}Vo;
    }

    public static ${ClassName} to${ClassName} (${ClassName}Dto ${className}Dto) {
        ${ClassName} ${className} = new ${ClassName}();
        if (null == ${className}Dto){
            return ${className};
        }
        #foreach ($column in $dtoVoColumns)
            #if(!$table.isSuperColumn($column.javaField))
                #if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
                    #set($AttrName=$column.javaField)
                #else
                    #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
                #end
                    ${className}.set${AttrName}(${className}Dto.get${AttrName}());
            #end
        #end
        return ${className};
    }

    public static ${ClassName} to${ClassName}(${ClassName}Vo ${className}Vo) {
        ${ClassName} ${className} = new ${ClassName}();
        if (null == ${className}Vo){
            return ${className};
        }
        #foreach ($column in $dtoVoColumns)
            #if(!$table.isSuperColumn($column.javaField))
                #if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
                    #set($AttrName=$column.javaField)
                #else
                    #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
                #end
                ${className}.set${AttrName}(${className}Vo.get${AttrName}());
            #end
        #end
        return ${className};
    }


}